- user: name=filippo groups=dialout shell=/bin/bash

# manually installed minicom and tmux

- lineinfile: dest=/boot/config.txt line="dtoverlay=dwc2"
- replace: dest=/boot/cmdline.txt regexp="rootwait$" replace="rootwait dtoverlay=dwc2"

- lineinfile: dest=/etc/modules regexp='^g_' state=absent
- file: dest=/etc/modprobe.d/multigadget.conf state=absent

- lineinfile: dest=/etc/modules line=libcomposite
- copy: src=usbgadget.sh dest=/usr/local/bin/usbgadget.sh mode=0755
- copy: src=usbgadget.service dest=/etc/systemd/system/usbgadget.service
- copy: src=alpine-frood-3.8f1-x86_64.iso dest=/var/lib/alpine-frood-x86_64.iso
- systemd: daemon_reload=yes name=usbgadget.service state=started enabled=yes
