---
- name: allow root login from the USB serial port
  lineinfile:
    dest: /etc/securetty
    line: ttyACM0
- name: enable a getty on the USB serial port
  lineinfile:
    dest: /etc/inittab
    line: "ttyACM0::respawn:/sbin/getty -L ttyACM0 115200 vt100"

- name: /etc/apk/repositories
  copy:
    dest: /etc/apk/repositories
    src: apk_repositories
- name: apk cache
  file:
    path: /etc/apk/cache
    state: link
    src: /media/sda1/cache
- apk: # TODO: manage and sync /etc/apk/world instead
    update_cache: yes
    name:
      - joe
      - openntpd
      - openssh
      - python
      - strace
      - tmux
      - htop
      - wget
      - ca-certificates
      - rsync
      - tcpdump
      - sudo
      - tree
      - pv
      - ncdu
      - busybox-static
      - apk-tools-static

- name: LBU_MEDIA
  lineinfile:
    dest: /etc/lbu/lbu.conf
    regexp: '^#?\s*LBU_MEDIA'
    line: "LBU_MEDIA=sda1"
- name: BACKUP_LIMIT
  lineinfile:
    dest: /etc/lbu/lbu.conf
    regexp: '^#?\s*BACKUP_LIMIT'
    line: "BACKUP_LIMIT=1024"

- name: /etc/local.d/cache.stop
  copy:
    dest: /etc/local.d/cache.stop
    src: cache.stop
    mode: 0755

- name: /etc/ssh/authorized_keys
  file:
    path: /etc/ssh/authorized_keys
    state: directory
    mode: 0755
- name: /etc/ssh/authorized_keys/filippo
  authorized_key:
    user: filippo
    key: "{{ ssh_key }}"
    path: /etc/ssh/authorized_keys/filippo
    manage_dir: false
- name: AuthorizedKeysFile
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?\s*AuthorizedKeysFile'
    line: "AuthorizedKeysFile /etc/ssh/authorized_keys/%u"

- name: /etc/passwd
  replace:
    dest: /etc/passwd
    regexp: '^filippo:x:([^:\n]*):([^:\n]*):[^:\n]*:[^:\n]*:[^:\n]*$'
    replace: 'filippo:x:\1:\2:Filippo Valsorda:/var/empty:/bin/ash'

- name: /etc/motd
  copy:
    dest: /etc/motd
    src: motd
- name: /etc/profile.d/motd.sh
  copy:
    dest: /etc/profile.d/motd.sh
    src: motd.sh
- name: color prompt
  command: mv /etc/profile.d/color_prompt /etc/profile.d/color_prompt.sh
  args:
    creates: /etc/profile.d/color_prompt.sh

- name: zfs
  import_tasks: zfs.yml
- name: docker
  import_tasks: docker.yml
