---
- name: allow root login from the USB serial port
  lineinfile:
    dest: /etc/securetty
    line: ttyACM0
- name: enable a getty on the USB serial port
  lineinfile:
    dest: /etc/inittab
    line: "ttyACM0::respawn:/sbin/getty -L ttyACM0 115200 vt100"

- name: /etc/apk/repositories
  copy:
    dest: /etc/apk/repositories
    src: apk_repositories
- name: apk cache
  file:
    path: /etc/apk/cache
    state: link
    src: /media/sda1/cache
- apk:
    update_cache: yes
    name:
      - e2fsprogs
      - joe
      - openntpd
      - openssh
      - gptfdisk
      - python
      - strace
      - tmux
      - htop
      - wget
      - ca-certificates
      - rsync
      - tcpdump
      - sudo
      - zfs
      - zfs-udev
      - eudev
      - ntfs-3g
      - tree
      - pv

- name: enable udev for /dev/disk/by-uuid
  service:
    name: "{{ item }}"
    enabled: yes
    state: started
    runlevel: sysinit
  with_items:
    - udev
    - udev-trigger

- name: load zfs module
  lineinfile:
    dest: /etc/modules
    line: zfs
  notify: modprobe zfs
- name: /etc/fstab
  copy:
    dest: /etc/fstab
    content: ""
- name: enable zfs-mount
  service:
    name: "{{ item }}"
    enabled: yes
    # state: started # zfs-import is not idempotent
  with_items:
    - zfs-mount
    - zfs-import
- name: DO_OVERLAY_MOUNTS=yes
  lineinfile:
    dest: /etc/conf.d/zfs
    regexp: '^#?\s*DO_OVERLAY_MOUNTS'
    line: "DO_OVERLAY_MOUNTS='yes'"

- name: LBU_MEDIA
  lineinfile:
    dest: /etc/lbu/lbu.conf
    regexp: '^#?\s*LBU_MEDIA'
    line: "LBU_MEDIA=sda1"
- name: BACKUP_LIMIT
  lineinfile:
    dest: /etc/lbu/lbu.conf
    regexp: '^#?\s*BACKUP_LIMIT'
    line: "BACKUP_LIMIT=1024"

- name: /etc/ssh/authorized_keys
  file:
    path: /etc/ssh/authorized_keys
    state: directory
    mode: 0755
- name: /etc/ssh/authorized_keys/filippo
  authorized_key:
    user: filippo
    key: "{{ ssh_key }}"
    path: /etc/ssh/authorized_keys/filippo
    manage_dir: false
- name: AuthorizedKeysFile
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: '^#?\s*AuthorizedKeysFile'
    line: "AuthorizedKeysFile /etc/ssh/authorized_keys/%u"

- name: /etc/passwd
  replace:
    dest: /etc/passwd
    regexp: '^filippo:x:([^:\n]*):([^:\n]*):[^:\n]*:[^:\n]*:[^:\n]*$'
    replace: 'filippo:x:\1:\2:Filippo Valsorda:/var/empty:/bin/ash'
